<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/editingPage.css">
</head>
<body>
<!--====form section start====-->

<%- include("./partials/error"); %>

<div class="user-detail">
    <div class="form-title">
    <h2>Edit Booking Form</h2>
    
    </div>
    <hr>
    <form action="<%'/users/edit/'+userData.id%>" method="POST">
          <label>First Name</label>
          <input type="text" placeholder="Enter First Name" name="firstName" required value="<%=(typeof userData!='undefined')? userData.firstName:''%>" readonly>
          <label>Last Name</label>
          <input type="text" placeholder="Enter Last Address" name="lastName" required value="<%=(typeof userData!='undefined')? userData.lastName:''%>" readonly>
          <label>Date</label>
          <input type="date" placeholder="dd/mm/yy" name="date" id="date" required value="<%=(typeof userData!='undefined')? userData.date:''%>">              
          <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
                if(dd<10){
                     dd='0'+dd
                } 
                if(mm<10){
                     mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("date").setAttribute("min", today);
        </script>
          <label>Time</label>
          <input type="time" placeholder="Time" name="time" required value="<%=(typeof userData!='undefined')? userData.time:''%>">
          <button type="submit">Submit</button>
          <a href="/users/dashboard" class="btn btn-secondary">Return to Dashboard</a>
    </form>
        </div>
</div>

<!--====form section start====-->
</body>
</html>